
button {
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.div {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
}

.psuedo-text {
  color: #448a1c;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline;
  height: auto;
  font-size: 1.7rem;

  transition: 0.25s ease-in;
  transition-delay: 0.1s;
}

.flex-1 {
  flex: 1;
}

.button {
  padding: 1rem 1rem;
  background: white;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.button-mat {
  color: green;
  border: 0px transparent;
  border-radius: 0.3rem;
  transition: 0.3s ease-in-out;
  transition-delay: 0.35s;
  overflow: hidden;
}
.button-mat:before {
  content: "";
  display: block;
  background: #419c05;
  position: absolute;
  width: 200%;
  height: 500%;
  border-radius: 100%;
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}
.button-mat:hover .psuedo-text {
  color: white;
}
.button-mat:hover {
  color: transparent;
}

.btn-1 {
  letter-spacing: 0.05rem;
  transition: 0.5s all ease-in-out;
  position: relative;
  background: transparent;
}
.btn-1:before {
  border-top: 0.3rem solid white;
  border-bottom: 0.3rem solid white;
  display: block;
  position: absolute;
  background: transparent;
  content: "";
  top: 0;
  bottom: 0;
  left: 100%;
  right: 100%;
  transition: 0.48s all ease-in-out;
}
.btn-1:hover {
  letter-spacing: 0.4rem;
}
.btn-1:hover:before {
  left: 25%;
  right: 25%;
}

.btn-2 {
  letter-spacing: 0.05rem;
  position: relative;
  background: white;
  color: #025780;
  border-radius: 0.3rem;
  position: relative;
  transition: 0.2s all ease-in-out;
}
.btn-2:before {
  display: block;
  position: absolute;
  background: transparent;
  border: none;
  border-radius: 0.3rem;
  transform: translateY(5px) scale(0.9);
  content: "";
  height: 5px;
  z-index: -1;
  bottom: -1%;
  left: 0;
  right: 0;
  transition: 0.2s all ease-in-out;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn-2:hover:before {
  transform: translateY(8px) scale(0.8);
  opacity: 0.8;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.btn-2:hover {
  transform: translateY(-5px);
}

.btn-3 {
  letter-spacing: 0.05rem;
  position: relative;
  background: white;
  color: #025780;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-radius: 0.3rem;
  z-index: 1;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.btn-3:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.95);
}

.btn-4 {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
  border: 1px solid white;
  transition: 0.3s all ease-in-out;
}
.btn-4:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.85);
}

.btn--5 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn--5:before {
  transform: translate(-120%, -50%) translateZ(0);
}
.btn--5:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}

.btn--6 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn--6:before {
  transform: translate(40%, -50%) translateZ(0);
}
.btn--6:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}

.btn--7 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn--7:before {
  transform: translate(-110%, -110%) translateZ(0);
}
.btn--7:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}

.btn--8 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn--8:before {
  transform: translate(30%, 10%) translateZ(0);
}
.btn--8:hover:before {
  transform: translate(-45%, -34%) translateZ(0);
}